.btn {
	--colour: hsl(var(--bg-300));

	position: relative;
	isolation: isolate;
	width: max-content;
	margin: 0.5em 0;
	padding: 0.85em 1.25em;
	outline: solid 2px var(--colour);
	background-color: transparent;
	box-shadow: var(--shadow-muted);
	color: hsl(var(--text));
	border-radius: var(--radius);
	cursor: pointer;
	transition: background-color var(--transition);

	&:hover {
		background-color: var(--colour);
	}
}

.btn-primary {
	--colour: hsl(var(--primary-500));
}
