.mission {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.75em;
	background: hsl(var(--bg-400));
	padding: 0.75em 2em;
	border-left: solid 2px transparent;
	border-radius: 0 var(--radius) var(--radius) 0;
	line-height: 1.5em;
	cursor: pointer;
	transition: transform var(--transition);

	&:hover {
		transform: scale(0.95);
	}

	.mission-info {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		.title {
			font-size: 1.25em;
			font-weight: 500;
		}

		.description {
			font-size: 0.95em;
			word-break: break-all;
		}
	}

	.actions {
		display: flex;
		align-items: center;
		gap: 1em;

		.action {
			cursor: pointer;
			max-height: 1.25em;

			&:hover svg {
				fill: hsl(var(--primary-500));
			}

			svg {
				width: 1.25em;
				height: 1.25em;
				fill: hsl(var(--text-muted));
				pointer-events: none;
				transition: fill var(--transition);
			}
		}
	}

	&.priority-low {
		border-color: var(--priority-low);
	}

	&.priority-medium {
		border-color: var(--priority-medium);
	}

	&.priority-high {
		border-color: var(--priority-high);
	}

	&.completed {
		text-decoration: line-through;
	}
}
