.titlebar {
	display: flex;
	justify-content: space-between;
	width: 100vw;

	.dragging {
		flex: 1;
		height: var(--titlebar-height);
		-webkit-app-region: drag;
	}

	.controls {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		.control {
			display: grid;
			place-items: center;
			padding: 0.5em;
			cursor: pointer;
			transition: background var(--transition);

			&:hover {
				background-color: hsl(var(--bg-300));
			}

			svg {
				width: 1em;
				height: 1em;
				pointer-events: none;
			}
		}
	}
}
